body {
  margin: 0;
}

.main {
}
.picture {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.text {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 50px;
  background-color: rgb(17, 22, 8);
  color: aliceblue;
  line-height: 2rem;
  font-size: 1.5rem;
}
.puffer {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s;
}

.wrapper {
  position: absolute;
  top: 0;
  z-index: 2;
}
